body {
  overflow: hidden;
  font-family: 'Software Tester 7', sans-serif;
  background: #496e6e;
  align-items: center;
  background: -webkit-radial-gradient(center, #496e6e 0%, #000000 100%);
  background: -moz-radial-gradient(center, #496e6e 0%, #000000 100%);
  background: radial-gradient(ellipse at center, #496e6e 0%, #000000 100%);
  background-image: url('static.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}


h1 {
  text-align: center;
  font-size: 10px;
  color: #fff;
}
button {
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
  padding: 15px 20px;
  width: 90vw; /* ビューポート幅の90% */
  max-width: 1500px; /* 最大幅 */
  height: 40vh; /* ビューポート高さの40% */
  max-height: 600px; /* 最大高さ */
  cursor: pointer;
  transition: 0.3s ease-in;
  font-weight: bold;
  font-size: 10vw; /* ビューポート幅の10% */
  border-radius: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}



/* 大きな画面用 */
@media (min-width: 1024px) {
  button {
    font-size: 180px;
    border-radius: 80px;
  }
}

/* タブレット用 */
@media (max-width: 1023px) and (min-width: 768px) {
  button {
    font-size: 120px;
    border-radius: 60px;
  }
}

/* スマートフォン用 */
@media (max-width: 767px) {
  button {
    font-size: 60px;
    border-radius: 40px;
    height: 30vh;
  }
}

/* 小さなスマートフォン用 */
@media (max-width: 320px) {
  button {
    font-size: 40px;
    border-radius: 20px;
    height: 25vh;
  }
}
button:hover {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#timer h1 {
  user-select: none;
  font-size: 7vw;
  color:white;
}
#timer h2 {
  user-select: none;
  font-size: 2vw;
  color:white;
}  


@media(max-width:768px) {
  #timer h1 {
    font-size: 4rem;
  }
}

@media(max-width:480px) {
  #timer h1 {
    font-size: 3.5rem;
  }
}

@media(max-width:320px) {
  #timer h1 {
    font-size: 3rem;
  }
}


#quiz-number {
  font-size: 20vw;
  color: white;
  text-align: center;
  font-weight: bold;
  display: none;
}

@media (min-width: 1024px) {
  #quiz-number {
    font-size: 400px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  #quiz-number {
    font-size: 150px;
  }
}

@media (max-width: 767px) {
  #quiz-number {
    font-size: 100px;
  }
}

@media (max-width: 320px) {
  #quiz-number {
    font-size: 80px;
  }
}


#score-display, #time-left {
  font-size: 18px;
  margin-top: 20px;
}